a {
text-align: center;
text-decoration: none;
color: whitesmoke;
float: right;
margin-right: 50px;
}

.container {
    color: whitesmoke;
    list-style-type: none;
    height: 70px;
    background: mediumseagreen;
    width: 100%;
    font-size: 14pt;
}

footer{
background: mediumseagreen;
position: fixed; 
bottom: 0;
height: 70px;
width: 100%;
margin: 0 auto;
color: whitesmoke;
text-align: center;
}

p {
text-align: justify;
font-size: 14pt;
line-height: 1cm;
position: relative;
margin: 60px 25px 25px 25px;
}

img {
width: 220px;
height: 250px; 
margin: 40px 20px 20px 20px;
float: left;
}

.flow {
background: whitesmoke;
}


.box {
width: 960px;
height: 340px;
background: lightgrey;
margin-left: 240px;
margin-top: 150px;
position: relative;
}

#wrap {
width: 100%;
height: 100%; 
margin: 0;
}

.box1 {
    position: relative;
    margin-right: 200px;
    margin-left: 300px;
    position: relative;
    width: 900px;
    height: 460px;
    background: lightgray;
}
body {
    overflow: ;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1566370424256-a76a2ae99b27?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
}

.work {
    position: relative
    float: ;
    width: 274px;
    margin: 25px 25px 25px 25px;
    text-align: center
}

header {
    margin-left: 225px;
    font-size: 25pt;
}
h1 {
    text-align: center;
    color: whitesmoke;
}